**/__pycache__
**/.venv
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/docker-compose*
**/Dockerfile*

# Environments
.env
venv/

# Personal poetry configs
poetry.toml

# Model cache
models/*
